nav {
  background-color: #999;
}
nav img {
  margin: 20px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  left: 2em;
  top: 5em;
}
nav span {
  font-size: 20px;
  background-color: #777;
}
nav h1 {
  display: inline-block;
  font-size: 40px;
  padding: 2vw;
}
nav a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-left: 2vw;
}
body {
  background-color: #FFF;
  margin-left: 10vw;
}
.fa:before {
  width: 100px;
  font-size: 50px;
}
h3 {
  font-size: 20px;
}
aside {
  position: fixed;
  width: 10%;
  height: 100vh;
}
section {
  float:right;
  padding-top:100px;
  width: 80%;
  height: 500px;
}

section img {
  width: 30%;
  height: 100px;
}
@media (min-width: 600px) {
  .icon-menu {
    display:none;
  }
}
